body > * {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-content: center;
    background-color: rgb(253, 221, 221);}

img{
    margin-bottom: 32px;
    max-width: 100%;
    overflow: hidden;
}
.flex{
    display: flex;
    gap: 16px;
    position: relative;
}


button#no_button{
    position: absolute;
    left: 100px;
}


button{
    background-color: white;
    border: 0;
    padding: 8px;
    width: 80px;
    border-radius: 8px;
}
.items-center{align-items: center;}

.content{
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}